<p>entita-er works!</p>
<div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text testoPiccolo">Nome Entita:</span>
        </div>
        <input
            type="text"
            [value]="entitaSelezionata.nomeEntita"
            class="testoPiccolo form-control"
            (input)='entitaSelezionata.nomeEntita = $event.target.value'
        >
        <div class="input-group-append">
            <button
                class="btn btn-outline-secondary dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                (input)='ModificaTipoAttributoNuovo($event.target.value)'
                (click)="AggiornaEntita()"
            >
                #
                <div class="dropdown-menu">
                    <a
                        class="dropdown-item"
                        *ngFor="let item of nomiEntita"
                        (click)="ClickSelezionaEntita(item)"
                    >
                        {{item}}
                    </a>
                </div>
            </button>
        </div>
    </div>






    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text testoPiccolo">Tipo Entita:</span>
        </div>
        <select
            id="tipoEntita"
            [value]="entitaSelezionata.tiopoEntita"
            class="testoPiccolo custom-select"
            (input)='entitaSelezionata.tiopoEntita = $event.target.value'
        >
            <option value="entita">entita</option>
            <option value="attore">attore</option>
        </select>
    </div>




</div>
<div *ngIf="abilitaNuovoAttributo">
    <p>nuovo attributo</p>
    <div>
        <table style="background-color: cornflowerblue;">
            <tbody>
                <tr>
                    <th>Tipologia</th>
                    <th>Tipo</th>
                    <th>Nome</th>
                </tr>
                <tr>
                    <td>
                        <select
                            id="tipologiaEntita"
                            [value]="attributoNuovo.tipologia"
                            class="testoPiccolo custom-select"
                            (input)='ModificaTipologiaAttributoNuovo($event.target.value)'
                        >
                            <option
                                *ngFor="let item of TipologiaAttributo.values()"
                                value="{{item}}"
                            >
                                {{item}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button
                                    class="btn btn-outline-secondary dropdown-toggle"
                                    type="button"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    (input)='ModificaTipoAttributoNuovo($event.target.value)'
                                >
                                    #
                                </button>
                                <div class="dropdown-menu">
                                    <a
                                        class="dropdown-item"
                                        *ngFor="let item of possibilitaTipoAttributo"
                                        (click)="ClickTipoAttribtuo(item)"
                                    >
                                        {{item}}
                                    </a>
                                </div>
                            </div>
                            <input
                                type="text"
                                [value]="attributoNuovo.tipoAttributo"
                                class="testoPiccolo form-control"
                                (input)='ModificaTipoAttributoNuovo($event.target.value)'
                            >
                        </div>













                    </td>
                    <td>
                        <label
                            class="testoPiccolo"
                            for="nomeEntita "
                        >
                            <input
                                type="text"
                                [value]="attributoNuovo.nomeAttributo"
                                class="testoPiccolo form-control"
                                (input)='attributoNuovo.nomeAttributo= $event.target.value'
                            >
                        </label>
                    </td>
                    <td>
                        <button (click)="AggiungiAttributo()">Aggiunti</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- elenco attributi -->
<div>
    <table style="background-color: darkseagreen;">
        <tbody>
            <tr>
                <th>Tipologia</th>
                <th>Tipo</th>
                <th>Nome</th>
            </tr>
            <tr *ngFor="let item of entitaSelezionata.listaAttributi">
                <td>{{item.tipologia}}</td>
                <td>{{item.tipoAttributo}}</td>
                <td>{{item.nomeAttributo}}</td>
            </tr>
        </tbody>
    </table>
</div>
