<p>prima-vista works!</p>
<!-- Barra superiore -->
<nav class="navbar navbar-expand-sm navbar-light bg-light"
    style="padding: 5px; max-height: 50px; height: 30px; min-height: 30px; align-items: baseline;">

    <div class="collapse navbar-collapse" style="padding: 0%;">
        <!-- nome -->
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Nome progetto></span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" (input)='nomeProgetto= $event.target.value'
                [value]="nomeProgetto">
        </div>
        <!-- percorso -->
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Percorso progetto></span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" (input)='percorso= $event.target.value' [value]="percorso">
        </div>
        <!-- scelte -->
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <!-- triggera modale lista comandi -->
                <button type="button" class="btn btn-sm btn-outline-success" data-toggle="modal"
                    data-target="#listaComandi">
                    Visualizza lista comandi
                </button>
                <!-- crea progetto -->
                <button class="btn btn-sm btn-outline-success" type="button">
                    <!--  (click)="CreaProgetto()" -->
                    Genera
                    <ng-container *ngIf="esisteProgetto==false else elseTemplate">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z">
                            </path>
                        </svg>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                            <path
                                d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z">
                            </path>
                        </svg>
                    </ng-template>
                </button>
                <!-- genera ER -->
                <button class="testoPiccolo btn btn-sm btn-outline-success" type="button" (click)="generaEr()">
                    Genera ER
                </button>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-sm btn-outline-success" data-toggle="modal"
                    data-target="#aggiungiEntita">
                    Aggiungi entita
                </button>
            </div>
        </div>
    </div>
</nav>
<!-- lista entita nel progetto -->
<nav class="navbar navbar-expand-sm navbar-light bg-light"
    style="padding: 0%; max-height: 50px; height: 30px; min-height: 30px; align-items: flex-end;">

    <div class="collapse navbar-collapse form-inline" style="padding: 0%;">
        <button class="btn btn-sm btn-outline-secondary" type="button" *ngFor="let item of listaEntitaER"
            (click)="AggiungiEntita(item)">
            {{item.nomeEntita}}
        </button>
    </div>
</nav>
<!-- aggiungi entita -->
<!-- Modal -->
<div class="modal fade" id="aggiungiEntita" tabindex="-1" role="dialog" aria-hidden="true"
    aria-labelledby="nuovoAttributoLabel" style="width: 100%">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Modal title
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <p>Nuova entita</p>
                    <app-entita-er-prima-vista [SetEntitaSelezionata]="entitaSelezionata" [SetaMostraAttributo]="true"
                        (newEntitaSelezionata)="ModificaElementoSelezionato($event)"
                        [TriggeraEntitaSelezionata]="triggeraGetEntita"></app-entita-er-prima-vista>
                    <button (click)="SalvaEntita()">Salva entita</button>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<!-- lista comandi -->
<div class="modal fade" id="listaComandi" tabindex="-1" role="dialog" aria-hidden="true"
    aria-labelledby="nuovoAttributoLabel" style="width: 100%">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Modal title
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <!-- lista comandi -->
                    <div *ngFor="let item of listaComandi">
                        <span>
                            <label for="" title="">Eseguito :
                                <input title="l'estensione del file come *.txt" type="checkbox"
                                    [(value)]="item.eseguite" (input)='item.eseguite = $event.target.value'>
                            </label>
                        </span>
                        <span>
                            <label for="" title="">Da eseguire :
                                <input title="l'estensione del file come *.txt" type="checkbox"
                                    [(value)]="item.daEseguire" (input)='item.daEseguire = $event.target.value'>
                            </label>
                        </span>
                        <span>
                            <label for="" title="">comando :
                                <input title="l'estensione del file come *.txt" type="text" [(value)]="item.comando"
                                    (input)='item.comando = $event.target.value'>
                            </label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-3">
        <mat-tab-group [selectedIndex]="indiceEntitaSelezionata"
            (selectedIndexChange)="indiceEntitaSelezionata = $event">
            <mat-tab label="{{item.nomeEntita}}" *ngFor="let item of listaEntitaER">
                <app-entita-er-prima-vista [SetId]="item.nomeEntita +'progettoentita'" [SetEntitaSelezionata]="item"
                    [SetaMostraAttributo]="false"></app-entita-er-prima-vista>
                <!-- <app-diagra-mermaid [testoER]="item.GetPerDiagrammaERCreated()"
                    [numeroId]="'diagrammaelementoselezionato'"></app-diagra-mermaid> -->
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="col-9">

        <app-diagramma-mermaid-vista-base [testoER]="testoEr"></app-diagramma-mermaid-vista-base>
            <!--  <app-diagra-mermaid [testoER]="testoEr" [numeroId]="'diagrammaprogetto'"></app-diagra-mermaid> -->
            <!-- <ul id="myUL">
            <li>
                <span class="caret">Beverages</span>
                <ul class="nested">
                    <li>Water</li>
                    <li>Coffee</li>
                    <li>
                        <span class="caret">Tea</span>
                        <ul class="nested">
                            <li>Black Tea</li>
                            <li>White Tea</li>
                            <li>
                                <span class="caret">Green Tea</span>
                                <ul class="nested">
                                    <li>Sencha</li>
                                    <li>Gyokuro</li>
                                    <li>Matcha</li>
                                    <li>Pi Lo Chun</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul> -->
            <!-- <ngx-dropdown-treeview
  [config]="config"
  [items]="itCategory"
>
</ngx-dropdown-treeview> -->
            <!-- <mat-tab-group>
            <mat-tab label="First">
                <app-diagra-mermaid [testoER]="testoEr"></app-diagra-mermaid>
            </mat-tab>
            <mat-tab label="Second">
                <mat-tree>
                    <mat-nested-tree-node>
                        parent node
                        <mat-nested-tree-node>-- child node1</mat-nested-tree-node>
                        <mat-nested-tree-node>-- child node2</mat-nested-tree-node>
                    </mat-nested-tree-node>
                </mat-tree>
            </mat-tab>
        </mat-tab-group> -->
        </div>
    </div>












    <!-- <div class="row">
    <div class="col-sm-3">
        <div style="background-color: aliceblue;">
            <div class="row">
                <div class="col-sm">
                    <div class="row">
                        <div class="testoPiccolo" class="col-sm" style="background-color: aquamarine;">
                            <app-entita (newEntita)="addEntita($event)" [(entita)]="entitaSelezionata"></app-entita>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <app-diagra-mermaid [testoER]="testoEr"></app-diagra-mermaid>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div style="background-color: antiquewhite;">
            <div class="row">
                <div class="col-sm">
                    <p>controller work!</p>
                    <div *ngFor="let item of controller; let i=index">
                        <div style="background-color:cornsilk; margin: 5px; padding: 5px;">
                            <app-controller [Controller]="item"></app-controller>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <p>model work!</p>
                    <div *ngFor="let item of model">
                        <app-model [Model]="item"></app-model>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <app-repository></app-repository>
                </div>
                <div class="col-sm">
                    <app-view></app-view>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <app-api></app-api>
                </div>
                <div class="col-sm">
                    <app-middleware></app-middleware>
                </div>
            </div>
        </div>
    </div>
</div> -->