<p>controller works!</p>

<div>
    <label style="font-size: xx-small;" for="nome">Nome: </label>
    <input style="font-size: xx-small;" type="text" [value]="nome" class="form-control" (input)='nome= $event.target.value'>
</div>

<div>
    <p style="font-size: xx-small;" for="testoRisultato">Testo Risultato: </p>
    
    <textarea style="font-size: xx-small;" id="testo" name="testo" rows="10" cols="50">
        {{testoRisultato}}
    </textarea>
    <!-- <input type="text" [value]="testoRisultato" class="form-control" (input)='testoRisultato= $event.target.value'> -->
</div>

<p style="font-size: xx-small;">Elenco attributi controller : </p>
<div *ngFor="let item of attributi">
    <div>
        <label style="font-size: xx-small;" for="">Nome Attributo: </label>
        <input style="font-size: xx-small;" type="text" value="{{item.nome}}">
    </div>
    <div>
        <label style="font-size: xx-small;" for="">Tipologia Attributo: </label>
        <input style="font-size: xx-small;" type="text" value="{{item.testo}}">
    </div>
</div>